/* #region Global style */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
    list-style-type: none;

	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
    text-decoration: none;
    color: #434455;
}

img {
    display: block;
    width: 100%;
} 

.container { 
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion */

/* #region Header */

.header-container {
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #E7E9FC;
}
.logo {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color:#2E2F42;
}
.accent {
    color: #4D5AE5;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}
.nav-studio,
.nav-contacts,
.nav-portfolio {
    font-weight: 500;
    font-size: 16px; 
    letter-spacing: 0.02em;
    color:#2E2F42;

    display: block;
    padding: 24px 0;
}
.nav-studio:hover,
.nav-studio:focus,
.nav-contacts:hover,
.nav-contacts:focus,
.nav-portfolio:hover,
.nav-portfolio:focus {
    color: #404BBF;
}
.nav-studio:active {
    text-decoration: underline;
}

.contact-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color:#434455;
    display: block;
    }
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.contacts {
    margin-left: auto;;
}
.contact-list {
    display: flex;
    gap: 40px;
}

/* #endregion */

/* #region Hero */
.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;

    width: 496px;
    height: 120px;
    margin-bottom: 48px;
}
.button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}
.button:hover,
.button:active,
.button:focus {
    background-color: #404BBF;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion */

/* #region Features */
.our-features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-container{
    align-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-item-title {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}
.features-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Team */
.our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    line-height: 1.111;
    letter-spacing: 0.02em;

    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.person {
    background-color: #FFFFFF;
    width: calc( (100% - 72px) /4 );
    border-radius: 0 0 4px 4px;
    box-shadow: 
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.person-name {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.person-text {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.name-job {
    padding: 32px 16px;
}
/* #endregion */

/* #region Portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container {
    align-content: center;
}
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.111;

    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    width: calc( (100% - 48px) /3 );
}
.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;

    margin-bottom: 8px;
}
.portfolio-text {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;

}
.title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* #endregion */

/* #region Footer */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;

    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logotype {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #F4F4FD;

    margin-bottom: 16px;
}
.accent {
    color: #4D5AE5;
}
.footer-text {
    width: 264px;
    height: 72px;
}
/* #endregion */